modLoader = "javafml"
loaderVersion = "*"
license = "LGPL-3.0-only"

[[mods]]
modId = "iris"

version = "${version}"
displayName = "Iris"

logoFile = "iris-logo.png" #optional

authors = "coderbot, IMS212"

description = '''
Iris is a modern shaders mod for Minecraft intended to be compatible with existing OptiFine shader packs.
'''

[[dependencies.iris]]
modId = "minecraft"
type = "required"
versionRange = "[1.21,1.21.1)"
ordering = "NONE"
side = "CLIENT"

[[mixins]]
config = "mixins.iris.json"

[[mixins]]
config = "mixins.iris.fantastic.json"

[[mixins]]
config = "mixins.iris.vertexformat.json"

[[mixins]]
config = "iris-batched-entity-rendering.mixins.json"

[[mixins]]
config = "mixins.iris.compat.sodium.json"

[[mixins]]
config = "mixins.iris.compat.dh.json"

[[mixins]]
config = "mixins.iris.forge.json"

[mods."sodium:options"]
"mixin.features.render.world.sky" = false

[[dependencies.iris]]
modId = "embeddium"
type = "incompatible"
reason = "Iris and Embeddium cannot be used together. Please use Sodium 0.6 instead."
versionRange = "[0.0.1,)"
ordering = "NONE"
side = "CLIENT"
